*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
apple-touch*
 
# wordpress specific

wp-config.php

# note if take out uploads, WPEngine remote says they are too big to add and errors

wp-content/uploads/ 
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/sunrise.php
wp-content/sunrise-original.php
wp-content/ewww
wp-content/wflogs
 
# wpengine specific

.smushit-status
.gitattributes
_wpeprivate
/.wpe-devkit
/.wpengine-conf
wp-content/object-cache.php
wp-content/mysql.sql
/.htaccess
/.wpe-pull-ignore
/.wpe-push-ignore
 
# wp core (as of 4.9.5)

/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentytwenty*
/wp-content/themes/genesis-block-theme*
/wp-content/themes/index.php
 

wp-content/plugins/*
wp-content/debug.log
!wp-content/uploads/fonts/
wp-content/.logs/
autoupdater_maintenance_mode_enabled.tmp
local-xdebuginfo.php
**/node_modules/
 
# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
